.site-heading-title {
    float: left;
    width: 50%;
    padding-right: 8%;
}
.site-heading-agent-info {
    float: right;
    width: 50%;
    padding-right: 8%;
}

#mainNav {
  clear: both;			
}

.services-heading {
    text-align: center;
    margin-top: 0;
}

.product-item-img {
    max-width: 45%;
    max-height: 30%;
    min-width: 45%;
    min-height: 30%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer .content-row {
    float: left;
    width: 50%;
    padding-right: 8%;
}

footer img {
    padding-top: 1%;
    padding-left: 30%;
    padding-right: 20%;
}

footer .agent-info {
    text-align: left;
}
