<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<!--Debt collectors are trained in the laws of the Fair Debt collection Practices Act . They know what they can and cannot do. They equally know that the consumers that they call are not nearly as knowledgeable about their rights under the law. Under the law, there are many things that collectors may not do to collect a debt. The most common violations of the law are:

Repeatedly calling you on the telephone
Threatening you with actions that the debt collector cannot presently take such as garnishments, loss of home, car, job or criminal proceedings
Lying to you
Contacting third parties to the debt
Calling you before 8:00am or after 9:00pm
Leaving messages on answering machines
If you have been victimized by a debt collector, we can help. We are happy to discuss the details of your case and confirm your eligibility.-->

<!--Under the Fair Credit Reporting Act and the Fair and Accurate Credit Transactions Act ("FACTA"), we can get money damages for you if we have to sue the credit reporting agency to get your credit report cleaned up. You may be entitled to actual damages including emotional distress, embarrassment and humiliation.

Common causes for Credit Report Errors

Identity Theft – for the past several years, this has been one of the fastest growing crimes in America. Someone gets a hold of your personal information and opens credit accounts in your name.
Mixed/Mismerged data – Two different people with the same name might have data mixed up between their accounts
Timely payments reported as late – Some creditors have collection departments that report payments several day and sometimes weeks after receiving a payment from you.
Derogatory information that remains on a credit report for longer than seven (7) years.
Bankruptcy information that remains on a credit report for longer that ten (10) years.
Home mortgage loans being reported as foreclosures when in fact, no foreclosure had ever been initiated by the lender.-->