<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<!--<h1>Home</h1>-->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{{ url_for('static', filename='assets/images/uces_icons.jpg') }}"
        alt=""
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Agent Info</span>
          <span class="section-heading-lower">Tracy Johnson</span>
        </h2>
        <p class="mb-3">
          <i class="fas fa-envelope"></i>
          <a class="useremail" href="mailto:tjohnson224.credit@gmail.com"
            >tjohnson224.credit@gmail.com</a
          >
        </p>
        <p class="mb-3">
          <i class="fas fa-phone"></i>
          <a class="userphone" href="tel:562-548-0622">(562) 548-0622</a>
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="#">Enroll Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">An all-inclusive financial membership...</span>
            </h2>
            <p class="mb-0">The UCES Protection Plan was designed to support your financial opportunities by implementing positive habits to create and maintain a strong financial future.</p>
            <p></p>
            <p class="mb-0">Our unique collection of services have been carefully selected to provide protection and opportunity over the many aspects of your finances- all combined into one easy-to-use system. Your membership can help to ensure you and your family are safeguarding the assets that you've earned and those you have to come.</p>
          </div>
        </div>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="#">What's Included</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
