<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<section class="page-section services-heading">
  <p>All below services are includes</p>
  <div class="intro-button mx-auto">
    <a class="btn btn-primary btn-xl" href="#">Enroll Now!</a>
  </div>
</section>

{% for service in services %} {% if loop.index % 2 != 0 %}

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <img
            class="product-item-icon mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
            src="static/assets/images/{{ service.service_icon }}"
            alt="Icon of {{ service.name }}"
          />
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">{{ service.subtitle }}</span>
            <span class="section-heading-lower">{{ service.name }}</span>
            <span><h5><a href="/services/{{ service.url }}">Learn more...</a></h5></span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="static/assets/images/{{ service.image_source }}"
        alt="Image for {{ service.name }}"
      />
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ service.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% else %}

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <img
            class="product-item-icon mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
            src="static/assets/images/{{ service.service_icon }}"
            alt="Icon of {{ service.name }}"
          />
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">{{ service.subtitle }}</span>
            <span class="section-heading-lower">{{ service.name }}</span>
            <span><h5><a href="/services/{{ service.url }}">Learn more...</a></h5></span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="static/assets/images/{{ service.image_source }}"
        alt="Image for {{ service.name }}"
      />
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ service.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %} {% endfor %} {% endblock %}
